<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{% block title %}Home {% endblock title %} | Fictionet</title>
        {% block head_favicon %}
            <link rel="icon" type="image/png"
                  href="{% static 'magazine/images/book2.png' %}">
        {% endblock head_favicon %}
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="en-US" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        {% block head_css %}
            {% block head_css_site %}
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link href="{% static 'magazine/css/style.css' %}" rel="stylesheet" />
                <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
            {% endblock head_css_site %}
            {% block head_css_section %}{% endblock head_css_section %}
            {% block head_css_page %}{% endblock head_css_page %}
        {% endblock head_css %}
    </head>
    <body data-media-url="{% get_media_prefix %}">
        {# Navigation Menu #}
        <header>
            <nav class="navbar navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand link-light" href="{% url 'magazine:index' %}">
                  <img src="{% static 'magazine/images/book2.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top" style="background-color: transparent">
                  Fictionet Magazine
                </a>
                <div class="d-flex">
                    {% if user.is_authenticated %}
                        <div class="nav-item dropdown">
                          <a class="nav-link link-light dropdown-toggle fictionet-bar-dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-solid fa-bars fa-2xl"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'magazine:profile' %}">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Submissions</a></li>
                            <li><a class="dropdown-item" href="#">Favorites</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="{% url 'logout' %}" class="dropdown-item">Sign Out</a></li>
                          </ul>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="nav-link link-light">Login</a>
                        <a href="{% url 'magazine:signup' %}" class="nav-link link-light">Sign Up</a>
                    {% endif %}
                </div>
              </div>
            </nav>
        </header>
         <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>
        <footer></footer>

        {# Set of blocks that can be used to display JavaScript files #}
        {% block footer_javascript %}
            {% block footer_javascript_site %}
                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
                <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
            {% endblock footer_javascript_site %}
            {% block footer_javascript_section %}{% endblock footer_javascript_section %}
            {% block footer_javascript_page %}{% endblock footer_javascript_page %}
        {% endblock footer_javascript %}
    </body>
</html>