{% extends "magazine/base.html" %}
{% load static %}
{% load ratings %}

{% block head_css_page %}<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">{% endblock head_css_page %}

{% block title %} {{story.title}} by {{story.author.first_name}} {{story.author.last_name}} {% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 bg-light p-5 my-5">
            {% if story.author.pk == user.pk%}<div><a href="{% url 'magazine:edit-story' story.pk %}" class="btn btn-lg btn-success float-end">Edit Story</a></div>{% endif %}
            <div class="">
                <h1>{{story.title}}{% if story.subtitle %}: <span class="text-black">{{story.subtitle}}</span>{% endif %}</h1>
            </div>
            <div class="">By {{story.author.first_name}} {{story.author.last_name}}</div>
            <div class="fst-italic text-secondary">Published {{story.created}}</div>
            <hr/>
            {% autoescape off %}
                {{ story.content }}
            {% endautoescape %}
            <div class="float-end">
                {% if user.pk == story.author.pk or not user.is_authenticated %}
                    <i class="fa-solid fa-heart h5 text-secondary"></i>
                    <span class="h5">{{favorites|length}}</span>
                {% elif user_fav %}
                    <i id="favorites-icon" class="fa-solid fa-heart text-success h5" style="cursor:pointer" data-csrf="{{csrf_token}}" data-add="{% url 'magazine:add-favorite' story.pk %}" data-remove="{% url 'magazine:remove-favorite' story.pk %}" data-clicked="True"></i>
                    <span class="h5" data-url="{% url 'magazine:favorites-count' story.pk %}" id="favorites-count">{{favorites|length}}</span>
                {% else %}
                    <i id="favorites-icon" class="fa-regular fa-heart text-success h5" style="cursor:pointer" data-csrf="{{csrf_token}}" data-add="{% url 'magazine:add-favorite' story.pk %}" data-remove="{% url 'magazine:remove-favorite' story.pk %}"></i>
                    <span class="h5" data-url="{% url 'magazine:favorites-count' story.pk %}" id="favorites-count">{{favorites|length}}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_javascript_page %}
    <script type="application/javascript" src="{% static 'magazine/js/fictionet-story.js' %}"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock footer_javascript_page %}